<h2>Edit the book: {{book.title}}</h2>

<form method="post" action="/books/{{book.id}}/edit">
    <label> Title:
        <input type="text" name="title" value="{{book.title}}"/>
    </label>

    <label> Author:
        <select name="author">
            {{#each authors}}
            <option value={{this._id}}>
                {{this.name}}
            </option>
            {{/each}}
        </select>
    </label>

    <label> Description:
        <textarea name="description" cols="30" rows="4" value="{{book.description}}"> {{book.description}}</textarea>
    </label>

    <label> Rate:
        <input type="number" name="rating" min="1" max="10" value="{{book.rating}}" />
    </label>

    <button type="submit"> Edit </button>
</form>